body{
    background-image: url(img/PlayStation.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


h1{

    text-align: left;
    font-size: 25px;
}

.formulario{
    color: white;
    font-size: 25px;
}

boton{
    
    color: aqua;


}

a{
    background-color: aqua;
    text-decoration: none;
}