body{

    font-family: Georgia, 'Times New Roman', Times, serif;

}


header{
    display: flex;
    min-height: 120px;
    background-color: #F0FFFF;
    justify-content: space-between;
    align-items:center;
    padding: 10ppx;
    border: 10px solid  black
}

.logo{
    display: flex;
    align-items: center;
}

.img-logo{

    height: 120px;
    margin-right: 50px;
}

a{
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 30px;
    justify-content: center;
    display: inline-block;
    background-color: black;
    border: 5px solid #00FFFF ;
}

nav a{
    font-weight: 100px;
    padding-right: 60px;
}

nav a:hover{
    color: aqua;
}

.div2{
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    color: white;
    text-align: center ;
}

.Ul1{
    text-align: left;
    font-size: 24px;
}

ol{
    text-align: left;
    font-size: 24px;
}



.color{
    color:  white;
    background-color: #316865;
    border: 10px solid black;
}

